body{
    overflow: hidden;
}

.sidenav{
    background: linear-gradient(45deg, #33ccff,#a460d9);
    height: 900px;
    width: 48%;
}


h3{
    color: white;
    font-weight: bold;
    text-align: center;
}


img{
    margin: 40px;
    height: 200px;
    width: 200px;
    border: black 0.1px #33ccff;
    background: linear-gradient(90deg, transparent, #33ccff, transparent);
}

.items img{
    position: absolute;
    left: 35%;
    top: 30%;
    transform: translate(-50%,-50%);
}

.items h3{
    position: absolute;
    left: 35%;
    top: 43%;
    transform: translateX(-20%);
}

.container{
    position: absolute;
    right: 0;
    top: 0;
    height: 900px;
    width: 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#user_name{
    width: 400px;
    border-radius: 50%;
}

h2{
    color: #000;
    font-weight: bold;
    text-align: center;
    top: -60px;
}

.container h2{
    position: absolute;
    top: 30%;
    left: 30px;
}

.input-group{
    align-items: left;
    position: absolute;
    width: 500px;
    left: 30px;
    top: 40%;
}


#login_btn{
    position: absolute;
    top: 60%;
    right: 620px;
}